body {
  padding: 20px 40px;
  background-color: #000000;
  font-family: "Magra", sans-serif;
  color: white;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

b{
  font-family: "Magra", sans-serif;
}

h1 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: white;
}

h3 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

h4 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

p {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}