body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Magra", sans-serif;
  background-color: #000000;
  color: white;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

b {
  font-family: "Magra", sans-serif;
}

h1 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: white;
  text-align: center;
}

h3 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

h4 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

p {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0;
}

@media (max-width: 540px) {
  body {
    width: auto;
  }

  h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}

@media (max-width: 720px) {
  body {
    width: auto;
  }

  h1 {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  body {
    width: auto;
  }

  h1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  body {
    width: auto;
  }
}

.subMenu {
  height: 553px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/assets/001.png);
  background-size: cover;
  width: auto;
}

.title {
  position: absolute;
  width: auto;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.form {
  border: 1.5px solid #cca333;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 50px;
  padding: 0px 10px;
  background-color: #000000;
  border: 1.5px solid #cca333;
  box-shadow: #cca333 0px 10px 40px 0px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 40px 0 40px;
}

.searchButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 20px 46px 20px 26px;
}

.searchIcon {
  height: 17px;
  width: 17px;
}

input {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.categoryCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  margin-top: 5%;
}

.lineCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.categotyButton {
  border: 1.5px solid #efe2c0;
  border-radius: 50px;
  background-color: #000000;
  padding: 10px;
}

.categotyButton:hover {
  border: 1.5px solid #cca333;
  border-radius: 50px;
  background-color: #473912;
  padding: 10px;
}

@media (max-width: 540px) {
  .subMenu {
    height: 300px;
  }
  .title {
    width: 100%;
    margin-top: 50%;
    position: none;
  }

  .categoryCollection {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 720px) {
  .subMenu {
    height: 200px;
  }
  .title {
    width: 100%;
    margin-top: 50%;
    height: auto;
  }

  .categoryCollection {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 1024px) {
  .subMenu {
    height: 300px;
  }
  .title {
    width: 100%;
    margin-top: 60px;
    height: auto;
  }

  .categoryCollection {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
  }
}

@media (max-width: 1200px) {
  .subMenu {
    height: 500px;
  }
  .title {
    width: 100%;
    margin-top: 50px;
    height: auto;
  }

  .categoryCollection {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px 40px;
  }
}

/* Sub Menu */

/* Sezione delle card */

.sectionBeckground {
  background-color: #2b2b2b;
}

.myCardCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.myIMG {
  width: 316px;
  height: 305px;
  object-fit: cover;
}

.mycard {
  width: 316px;
  border: 1.5px solid #d6d6d6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.myCardText {
  padding: 20px;
}
.arrowButtonsCollection {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 20px 0 20px 0;
}

.arrowButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.iconText {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.finalInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

/* Sezione delle card */

/* About */

.subtitle {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

.motivationCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 40px;
}

.motivationCard {
  box-shadow: -1px 1px 54px 66px #181818 inset;
  -webkit-box-shadow: -1px 1px 54px 66px rgba(24, 24, 24, 0.62) inset;
  -moz-box-shadow: -1px 1px 54px 66px rgba(24, 24, 24, 0.62) inset;
  background-color: #000000;
  padding: 20px;
  border-radius: 30px 24px 30px 24px;
}

.numberMotivation {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
}

.myForm {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.textareaInput {
  border: 0;
  border-radius: 50px;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0px 3px 0px 0px #cca333;
  margin: 10px 0 10px 0;
}

.aboutForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.aboutFormButton {
  border: 0;
  border-radius: 50px;
  background-color: #000000;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 3px 0px 0px #cca333;
  margin: 10px 0 10px 0;
}

.sendButton {
  border: 0;
  border-radius: 50px;
  background-color: #cca333;
  margin-top: 10px;
  padding: 10px;
}

@media (max-width: 540px) {
  .myForm {
    width: auto;
  }
  .motivationCollection {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .myForm {
    width: auto;
  }
  .motivationCollection {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .myForm {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .myForm {
    width: auto;
  }
}

/* About */

/* footer */

hr.separationLine {
  margin-top: 60px;
  border: 1px solid #ffffff;
}

.myFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}

.footerLogo {
  width: 316px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myLogoBox {
  background-color: white;
  text-align: center;
  width: 172px;
  padding: 6px;
  color: #000000;
}

.footerLayout {
  display: flex;
  flex-direction: row;
}

.footerTwo {
  display: flex;
  flex-direction: row;
}

.myFooterGrid {
  width: 200px;
  gap: 8px;
}

@media (max-width: 540px) {
  .myFooter {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .footerTwo {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .myFooter {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .footerTwo {
    display: flex;
    flex-direction: column;
  }

  .footerLayout {
    gap: 2px;
  }
}

@media (max-width: 1024px) {
  .myFooter {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .footerLayout {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 1200px) {
}
