body {
  padding: 0px 200px;
  background-color: #000000;
  font-family: "Magra", sans-serif;
  color: white;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

b {
  font-family: "Magra", sans-serif;
}

h1 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: white;
}

h3 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

h4 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

p {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

/* NavBar */

.myNavBar {
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-between;
}

.navLink {
  display: flex;
  flex-direction: row;
}

.singleNavLink {
  margin: 0px 20px;
}

/* NavBar */

/* Sub Menu */

.subMenu {
  height: 453px;
}

.imageSize {
  height: 453px;
  width: 100%;
  object-fit: cover;
}

.centeredImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Sub Menu */

/* Sezione delle card */

.myCardCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.myIMG {
  width: 316px;
  height: 305px;
  object-fit: cover;
}

.mycard {
  width: 316px;
  border: 1.5px solid #d6d6d6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.myCardText {
  padding: 20px;
}

/* Sezione delle card */

/* About */



/* About */

@media (max-width: 540px) {
  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
