body {
  width: 1440px;
  margin-left:auto;
  margin-right:auto;
  font-family: "Magra", sans-serif;
  background-color: #000000;
  color: white;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

b {
  font-family: "Magra", sans-serif;
}

h1 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: white;
}

h3 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

h4 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

p {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

/* NavBar */

.navFixed {
  position: fixed;
  background-color: #000000;
  width: 1440px;
  margin-left:auto;
  margin-right:auto;
}

.hideFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myButtons {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar {
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .menu .buttons li {
  display: inline-block;
}

.navbar .menu li {
  display: block;
  color: white;
  padding: 0px 20px;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  padding: 0px 20px;
  cursor: pointer;
}

#menu-toggle {
  position: absolute;
  right: 0;
  display: none;
}

.hideMenu {
  background-color: #000000;
  color: white;
  border: 1.5px solid #d6d6d6;
}

/* NavBar */

/* Sub Menu */

.subMenu {
  height: 453px;
}

.imageSize {
  height: 453px;
  width: 100%;
  object-fit: cover;
}

.centeredImageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Sub Menu */

/* Sezione delle card */

.sectionBeckground {
  background-color: #2b2b2b;
  padding: 40px 40px 0 40px;
}

.myCardCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.myIMG {
  width: 316px;
  height: 305px;
  object-fit: cover;
}

.mycard {
  width: 316px;
  border: 1.5px solid #d6d6d6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.myCardText {
  padding: 20px;
}

/* Sezione delle card */

/* About */

/* About */

@media (max-width: 540px) {
  body {
    width: 540px;
  margin-left:auto;
  margin-right:auto;
  }
  
  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 720px) {
  body {
    width: 720px;
  margin-left:auto;
  margin-right:auto;
  }
  
  .myCardCollection {
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1024px) {
  body {
    width: 1024px;
  margin-left:auto;
  margin-right:auto;
  }

  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1200px) {
  body {
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
  }

  .myCardCollection {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
