body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Magra", sans-serif;
  background-color: #000000;
  color: white;
}

.App-header {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

b {
  font-family: "Magra", sans-serif;
}

h1 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: white;
}

h2 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 56px;
  color: white;
  text-align: center;
}

h3 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: white;
}

h4 {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

p {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0;
}

/* NavBar */

.navFixed {
  position: fixed;
  background-color: #000000;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  padding: 30px 0 30px 0;
}

.hideFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myButtons {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar {
  overflow: hidden;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .menu .buttons li {
  display: inline-block;
}

.navbar .menu li {
  display: block;
  color: white;
  padding: 0px 20px;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  padding: 0px 20px;
  cursor: pointer;
}

#menu-toggle {
  position: absolute;
  right: 0;
  display: none;
}

.hideMenu {
  background-color: #000000;
  color: white;
  border: 1.5px solid #d6d6d6;
}

.endHamburger {
  display: flex;
  flex-direction: flex-end;
}

/* NavBar */

/* Sub Menu */

.subMenu {
  height: 453px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../src/assets/001.png);
  background-size: cover;
  height: 50vh;
}

.title {
  position: absolute;
  width: auto;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  margin: 20px 0 20px 0;
}

.form {
  border: 1.5px solid #cca333;
  width: 664px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 50px;
  padding: 0px 10px;
  background-color: #000000;
  border: 1.5px solid #cca333;
  box-shadow: #cca333 0px 10px 40px 0px;
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 20px 46px 20px 26px;
}

.searchIcon {
  height: 17px;
  width: 17px;
}

input {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.categoryCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  gap: 8px;
}

.categotyButton {
  border: 1.5px solid #efe2c0;
  border-radius: 50px;
  background-color: #000000;
  padding: 10px;
}

.categotyButton:hover {
  border: 1.5px solid #cca333;
  border-radius: 50px;
  background-color: #473912;
  padding: 10px;
}

/* Sub Menu */

/* Sezione delle card */

.sectionBeckground {
  background-color: #2b2b2b;
  padding: 40px 40px 0 40px;
}

.myCardCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.myIMG {
  width: 316px;
  height: 305px;
  object-fit: cover;
}

.mycard {
  width: 316px;
  border: 1.5px solid #d6d6d6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.myCardText {
  padding: 20px;
}
.arrowButtonsCollection {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 20px 0 20px 0;
}

.arrowButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.iconText {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.finalInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

/* Sezione delle card */

/* About */

.subtitle {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
}

.motivationCollection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  padding: 40px;
}

.motivationCard {
  box-shadow: -1px 1px 54px 66px #181818 inset;
  -webkit-box-shadow: -1px 1px 54px 66px rgba(24, 24, 24, 0.62) inset;
  -moz-box-shadow: -1px 1px 54px 66px rgba(24, 24, 24, 0.62) inset;
  background-color: #000000;
  padding: 20px;
  border-radius: 30px 24px 30px 24px;
}

.numberMotivation {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: white;
}

.myForm {
  width: 664px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.textareaInput {
  border: 0;
  border-radius: 50px;
  background-color: #000000;
  padding: 10px;
  box-shadow: 0px 3px 0px 0px #cca333;
  margin: 10px 0 10px 0;
}

.aboutForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.aboutFormButton {
  border: 0;
  border-radius: 50px;
  background-color: #000000;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 3px 0px 0px #cca333;
  margin: 10px 0 10px 0;
}

.sendButton {
  border: 0;
  border-radius: 50px;
  background-color: #cca333;
  margin-top: 10px;
  padding: 10px;
}

/* About */


/* footer */

hr.separationLine {
  margin-top: 60px;
  border: 1px solid #ffffff;
}

.myFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.footerLogo {
  width: 316px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.myLogoBox {
  background-color: white;
  text-align: center;
  width: 172px;
  padding: 6px;
  color: #000000;
}

.myFooterGrid {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* @media (max-width: 540px) {

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 720px) {

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1024px) {

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1200px) {

  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
} */
