body {
  margin: 0;
}

.magra-regular {
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.magra-bold {
  font-family: "Magra", sans-serif;
  font-weight: 700;
  font-style: normal;
}

code {
  font-family: Magra, 'Courier New',
    monospace;
}
