@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
}

.carousel__viewport {
  display: flex;
  overflow-x: auto;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 30px;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.arrowButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.arrocIcon {
  height: 17px;
  width: 17px;
  color: white;
}

.carousel__slide {
  position: relative;
  flex: 0 0 25%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

/* .carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;

  height: 40px;
  width: 40px;
  background-color: #cca333;
  border: 1.5px solid #cca333;
  display: flex;
  justify-content: flex-end;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
} */

/* .carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #cca333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
} */

/* .carousel::before {
  background-image: url("../../assets/left.svg");
}

.carousel::after {
  background-image: url("../../assets/right.svg");
} */

.sectionBeckground {
  background-color: #2b2b2b;
  padding: 40px 40px 0 40px;
}

.myCardCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.myIMG {
  width: 316px;
  height: 305px;
  object-fit: cover;
}

.mycard {
  width: 316px;
  border: 1.5px solid #d6d6d6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}

.myCardText {
  padding: 0 15px 15px 15px;
}
.arrowButtonsCollection {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 20px 0 20px 0;
}

.arrowButton {
  height: 40px;
  width: 40px;
  background-color: #cca333;
  border-radius: 100%;
  border: 1.5px solid #cca333;
}

.iconText {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.finalInfo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}









@media (max-width: 540px) {
  .sectionBeckground {
  padding: 20px 20px 0 20px;
}
  .arrowButtonsCollection {
    justify-content: center;
  }
.carousel__viewport {
  gap: 20px;
}
}

@media (max-width: 720px) {
  .arrowButtonsCollection {
    justify-content: center;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 1200px) {

}
