/* NavBar */



.liquidGlass-wrapper {
  position: relative;
  display: flex;
  font-weight: 600;
  overflow: hidden;

  color: black;
  cursor: pointer;

  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
  z-index: 3;
  font-size: 2rem;
  color: black;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.6rem;
}

.wrapper {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 2rem;
  padding: 0.6rem;
}


.dock:hover {
  padding: 0.8rem;
  border-radius: 2.5rem;
}






































.navFixed {
  position: fixed;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  padding: 25px 0 25px 0;
  background: rgba(0, 0, 0, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.hideFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.myButtons {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar {
  overflow: hidden;
}

.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar .menu .buttons li {
  display: inline-block;
}

.navbar .menu li {
  display: block;
  color: white;
  padding: 0px 20px;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  padding: 0px 20px;
  cursor: pointer;
}

#menu-toggle {
  position: absolute;
  right: 0;
  display: none;
}

.hideMenu {
  background-color: #000000;
  color: white;
  border: 1.5px solid #d6d6d6;
}

.endHamburger {
  display: flex;
  flex-direction: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.orangeButton {
  background-color: #cca333;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
}

.orangeButtonBorder {
  border: 1.5px solid #cca333;
  color: #cca333;
  background-color: #000000;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
}

/* NavBar */



@media (max-width: 540px) {
  .navFixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .myFooter {
    flex-direction: column;
  }
  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .navFixed {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (max-width: 720px) {
  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}