/* NavBar */





.itmesCollection {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: baseline;
}

.menuDropDown {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}
















.navFixed {
  position: fixed;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.myNavBar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hideFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.myButtons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  padding: 0px 20px;
  cursor: pointer;
}

#menu-toggle {
  position: absolute;
  right: 0;
  display: none;
}

.hideMenu {
  background-color: #000000;
  color: white;
  border: 1.5px solid #d6d6d6;
}

.endHamburger {
  display: flex;
  flex-direction: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.orangeButton {
  background-color: #cca333;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
}

.orangeButtonBorder {
  border: 1.5px solid #cca333;
  color: #cca333;
  background-color: #000000;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
}

/* NavBar */

@media (max-width: 540px) {
  .navFixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .hamburger {
    padding: 0;
  }

  .navbar {
    display: none;
  }

  .glass-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .myFooter {
    flex-direction: column;
  }
  .navbar .menu {
    display: none;
    width: 100%;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .navFixed {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (max-width: 720px) {
  .navbar .menu {
    display: none;
    width: 100%;
  }

  .hamburger {
    padding: 0;
  }
  .navbar {
    display: none;
  }

  .navbar {
    display: none;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .navbar .menu {
    display: none;
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    padding: 0;
  }

  .glass-container {
    width: auto;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar .menu {
    display: none;
    width: 100%;
  }

  .hamburger {
    padding: 0;
  }
  

  .navbar {
    display: none;
  }

  .glass-container {
    width: auto;
  }
  .navbar .menu li {
    display: block;
    text-align: left;
  }

  .myButtons {
    display: none;
  }

  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
}

.glass-container {
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  border: 1.5px solid #d6d6d6;

  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;

  font-weight: 600;
  color: var(--lg-text);
  cursor: pointer;
  background: transparent;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.glass-container svg {
  display: none;
}

.glass-container--large {
  /* min-width: 32rem; */
}

.player {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
  justify-content: space-between;
}

.player__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.player__img {
  width: 5rem;
  height: auto;
  margin: 0.25rem 0;
  border-radius: 0.5rem;
}

.player__legend {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: black;
}

.player__legend__title {
  font-size: 1rem;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 3px #444;
}

.player__legend__sub-title {
  font-size: 1rem;
  margin: 0;
  opacity: 0.45;
  color: #ccc;
  text-shadow: 0 0 3px #444;
}

.player__controls {
  margin-right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
}

.player__controls__play {
  margin-right: 1rem;
  display: flex;
}

.player__controls__ff {
  display: flex;
}

























/* ========== GLASS LAYERS ========== */
.glass-filter {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(3px);
  filter: url(#lg-dist);
  isolation: isolate;
}

.glass-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--lg-bg-color);
}

.glass-specular {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: inherit;
  overflow: hidden;
  box-shadow: inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
}

.glass-content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem 1.5rem 0.9rem;
}

.glass-content--inline {
  padding: 1rem 1.5rem 1rem 1.5rem;
  flex: 1 1 auto;
  justify-content: space-between;
}

@media (max-width: 540px) {
  .glass-container {
    width: 100%;
    justify-content: space-between;
  }

  .glass-content {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  .glass-container {
    width: 100%;
    justify-content: space-between;
  }

  .glass-content {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .glass-container {
    width: 100%;
    justify-content: space-between;
  }

  .glass-content {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  .glass-container {
    width: 100%;
    justify-content: space-between;
  }

  .glass-content {
    width: 100%;
    justify-content: space-between;
  }
}
